@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-area {
  height: 100%;
  max-height: 100dvh;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}

.navLinks a.active {
  background-color: #e5e7eb;
}

.content-html ul,
.content-html ol {
  margin: 16px 0;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style-type: none;
}

.content-html ul li,
.content-html ol li {
  list-style-type: none;
}
