@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-area {
  height: 100%;
  max-height: 100dvh;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}

.navLinks a.active {
  background-color: #e5e7eb;
}

.content-html ul li,
.content-html ol li {
  margin-top: 12px;
  list-style-type: none;
}
